# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Logs
*.log

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Python Virtual Environment
venv/
.venv/
env/

# Local Environment
.env

# Odoo cache
*.sqlite3